/* Animations */
@keyframes glowy {
  0% { text-shadow: 0px 0px 15px; }
  25% { text-shadow: 0px 0px 20px; }
  50% { text-shadow: 0px 0px 15px; }
  75% { text-shadow: 0px 0px 10px; }
  100% { text-shadow: 0px 0px 15px; }
}

@keyframes glowyBlue {
  0% { text-shadow: 0px 0px 15px #0CF; }
  25% { text-shadow: 0px 0px 20px #0CF; }
  50% { text-shadow: 0px 0px 15px #0CF; }
  75% { text-shadow: 0px 0px 10px #0CF; }
  100% { text-shadow: 0px 0px 15px #0CF; }
}

/* Basic Elements */
body {
  color: #CCC;
  background-color: #111;
  font-family: "Segoe UI","Arial",sans-serif;
  font-weight: lighter;
}

h1,h2,h3,h4,h5,h6,b {
  font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
  color: #FFF;
}

p {
  font-size: 1.2em;
}

a {
  color: #FFF;
}

a:hover {
  animation: glowy 1s infinite;
}

button {
  background-color: #000;
  color: #FFF;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #FFF;
  cursor: pointer;
}

.glow {
  animation: glowy 10s infinite;
}

button:hover {
  animation: glowy 10s infinite;
  background-color: #333;
  color: #AFA;
}

header {
  background-image: url("https://images.unsplash.com/photo-1543727166-222902a0c7d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80");
  background-size: 100% 100vh;
}

/* Nav Bars */
nav {
  color: #000;
  letter-spacing: 1em 1em 0.5em;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: #CCC;
  font-weight: bold;
  padding: 0.3em 0.6em;
}

nav li a:visited {
  color: #999;
}

nav li a:hover {
  color: #FFF;
  animation: glowy 1s infinite;
}

nav#utilityMenu {
  float: right;
  margin: -1.5em 0 0 0;
}

nav#utilityMenu li {
  vertical-align: middle;
  padding: 0 0.25em 0 0.2em;
}

nav#utilityMenu ul li.acctNav a {
  color: #CCC;
  text-decoration: none;
  display: inline-block;
  height: 1.3em;
  padding: 0.5em;
  margin: -0.4em 0 0 0;
  font-size: 0.8em;
}

nav#utilityMenu ul li.acctNav a.active,nav#utilityMenu ul li.acctNav a:hover {
  animation: glowyBlue 1s infinite;
}

nav#utilityMenu ul li.acctNav a:hover {
  color: #FFF;
}

nav#utilityMenu li a {
  padding: 0;
}
nav#utilityMenu li a:hover {
  animation: glowy;
}
nav#utilityMenu ul li input#search {
  vertical-align: middle;
  margin: 0 0 0 1em;
  height: 24px;
  border-radius: 12px;
  padding-left: 8px;
  border: 1px solid #CCC;
  background-color: #000;
}

nav#utilityMenu ul li.acctNav::before, nav#utilityMenu ul li input#search::before {
  content: "| ";
  color: #DDD;
}

/* Sidebar */

section#sidebar {
  width: 15%;
  float: right;
  margin-left: 2%;
  position: relative;
  display: block;
}

.xWrapper {
  display:flex;
}

section#main {
  display: inline-block;
  padding: 1.5em 0 2em 1.5em;
  margin: 0 0 2em;
  padding: 1.5em 0 2em 1.5em;
  border-radius: 15px;
  border: 1px solid #CCC;
  width:80%;
}


section div.panel {
  float: left;
  position: relative;
  width: 250px;
  padding: 1em;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid #CCC;
  border-radius: 12px;
}

section div.panel img.chipType {
  width: 240px;
  height: 168px;
}

footer {
  background-color: #666666;
  height: 25px;
  width: 100%;
  color: #FFF;

}

footer ul#menuFooter {
  display: inline-block;
  list-style: none;
  margin: 0 0 0.6em;
  padding: 0;
}

footer ul li {
  display: inline-block;
  padding: 0 0.7em 0 0;
  margin: 0;
}

footer ul li::before {
  content: "| ";
  padding-right: 0.7em;
}
